package main

import (
	"bufio"
	"fmt"
	"io"
	"os"
)

func solve(in io.Reader, out io.Writer) {
	// TODO: напишите решение задачи {{.P}}
	// читайте из in: fmt.Fscan(in, &n)
	// пишите в out: fmt.Fprintln(out, ans)
	r := bufio.NewReader(in)
	_ = r
	_ = fmt.Sprintf
}

func main() {
	in := bufio.NewReader(os.Stdin)
	out := bufio.NewWriter(os.Stdout)
	defer out.Flush()
	solve(in, out)
}